*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: orange;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
nav>p{
    font-size: 40px;
    color: white;
    border-bottom: 6px double white;
}
nav>img{
    width: 80px;
}
.totalAmountDiv{
    text-align: center;
    margin: 20px auto 50px auto;
    border: 6px double #2ff32f;
    padding: 10px 30px;
    box-shadow: 0px 11px 17px -7px rgba(0,0,0,0.75);
    display: table;
}
.totalAmount{
    margin: 10px;
    font-size: 50px;
    color: orange;
}
.detailsDiv{
    border: 2px solid orange;
    display: grid;
    grid-template-columns: 20% 30% 20% 15% 15%;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 10px 20px;
    box-shadow: 0px 7px 12px -7px rgba(0,0,0,0.75);
}

.amount{
    font-size: 20px;
    color: #2ff32f;
    text-align: right;
}
.name{
    font-size: 20px;
}
.mobile{
    text-align: center;
}

@media (max-width:800px) {
    .detailsDiv{
        text-align: center !important;
        display: flex;
        flex-direction: column;
    }
    .detailsDiv>p{
        border-bottom: 1px solid black;
        width: 100%;
        padding: 5px;
    }
    .amount{
        text-align: center;
        border-bottom: 0px !important;
    }
    nav{
        padding: 5px;
    }
    nav>p{
        font-size: xx-large;
    }
    .totalAmount{
    word-break: break-all;
    }
}